@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Itim&display=swap');


body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    background-color: khaki;
    user-select: none;
}

.main {
    display: flex;
    gap: 200px;
}

.left h3 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px
}

.tutorial {
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.energy-image {
    width: 300px;
}

.energy-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.energy-image:active {
    opacity: 0.8;
    transform: scale(1.02);
}
